html{
	box-sizing: border-box;
}
*, *::before, *::after{
	box-sizing: inherit;
}

body {
  font-family: 'Dosis', sans-serif;
  margin: 0;
  }

body {
  margin: 0;
  font-family: 'Dosis', sans-serif;
  }

header {
  color: #512200;
  text-align: center;
  }

.masthead {
  background-image: url("../img/logo.png");
  background-size: 55px auto;
  background-repeat: no-repeat, no-repeat, repeat;
  background-position: top 35px left 10px;

  }

h1 {
  font-size: 2em;
  margin: 1em 0em 1em 0em;
  padding: 0em;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  }

h2{
  text-align: center;
  }

nav li {
  display: inline-block;
  float: left;
  width: 25%;
  list-style-type: none;
  padding: 0;
  margin: 0;
  }

nav a {
  display: block;
  margin: 0;
  padding: 1em .5em 1em 1em;
  color: white;
  background-color: #512200;
  opacity: 0.5;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  }

nav ol {
  overflow: hidden;
  padding: 0;
  width: 100%;
  margin: 0;
  }

a:hover {
  background-color: #512200;
  opacity: .75;
  color: white;
  }

img {
  width: 100%;
  display: block;
  }

.button {
	background-color: #512200;
	border-radius: 0.25em;
	padding: .5em;
	color: white;
  display: inline-block;
  }


.intro p {
  position: absolute;
  text-align: center;
  width: 100%;
  color: yellow;

}

.intro img {
  position: relative;
}


.learn {
	width: 100%;
	background-color: #512200;
	text-align: center;
	padding: .5em;
	margin-bottom: 2em;
	border-radius: 0.25em;
  }

.learn a {
	text-decoration: none;
	color: white;

.details li {
	display: inline-block;
	width: 33%;
  }

.details {
	padding: 0;
  }

.details dt {
	font-weight: bold;
  }

.details dl {
	margin: 0;
  }

.details dd{
	margin: 0;
  }
